# Jupyter checkpoints #
######################
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*chapter_2_data_files
*chapter_4_data_files
*chapter_5_data_files
*chapter_6_data_files
*chapter_7_data_files
*chapter_8_data_files
*chapter_9_data_files
*chapter_10_data_files
*chapter_11_data_files